.heading-1 {

    font-weight: 20;
    font-size: 40px;
    line-height: 56px;
    float: left;
    /* identical to box height, or 108% */
}

.div-1 {

  left: 0;
  top: 0;
  padding: 10;
  display: 'flex';
}

.rectangle {
  position:relative;
  width: 197px;
  height: 200px;
  box-sizing: border-box;

  background: #FFFFFF;
  border: 2px solid #000000;
  display: inline-block;
  float: left;
}

.plus-img {
  height: 200px;
  width: 190px;

  margin: auto;
}
.pic {
  overflow: hidden;
}
